Counting-sort/obj/Counting-sort.csproj.nuget.dgspec.json
Counting-sort/obj/Counting-sort.csproj.nuget.g.props
Counting-sort/obj/Counting-sort.csproj.nuget.g.targets
Counting-sort/obj/project.assets.json
Counting-sort/obj/project.nuget.cache
Counting-sort/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Counting-sort/obj/Debug/net6.0/Counting-sort.AssemblyInfo.cs
Counting-sort/obj/Debug/net6.0/Counting-sort.AssemblyInfoInputs.cache
Counting-sort/obj/Debug/net6.0/Counting-sort.assets.cache
Counting-sort/obj/Debug/net6.0/Counting-sort.csproj.AssemblyReference.cache
Counting-sort/obj/Debug/net6.0/Counting-sort.GeneratedMSBuildEditorConfig.editorconfig
Counting-sort/obj/Debug/net6.0/Counting-sort.GlobalUsings.g.cs
CrossCuttings/obj/CrossCuttings.csproj.nuget.dgspec.json
CrossCuttings/obj/CrossCuttings.csproj.nuget.g.props
CrossCuttings/obj/CrossCuttings.csproj.nuget.g.targets
CrossCuttings/obj/project.assets.json
CrossCuttings/obj/project.nuget.cache
CrossCuttings/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CrossCuttings/obj/Debug/net6.0/CrossCuttings.AssemblyInfo.cs
CrossCuttings/obj/Debug/net6.0/CrossCuttings.AssemblyInfoInputs.cache
CrossCuttings/obj/Debug/net6.0/CrossCuttings.assets.cache
CrossCuttings/obj/Debug/net6.0/CrossCuttings.csproj.AssemblyReference.cache
CrossCuttings/obj/Debug/net6.0/CrossCuttings.GeneratedMSBuildEditorConfig.editorconfig
CrossCuttings/obj/Debug/net6.0/CrossCuttings.GlobalUsings.g.cs
bin
obj
.vs